@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #4baa89;
  text-align: left;
  border-bottom: 1px solid #686868;
}

.list-books-title h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Fredoka One", cursive;
  letter-spacing: 0.07em;
  color: white;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-title {
  margin: 0.2em 0 0 3em;
  display: flex;
  flex-direction: column;
}

.nav-title a {
  text-decoration: none;
}

.book-logo {
  height: 3.5em;
  width: 3.5em;
}

.question-icon-container {
  position: absolute;
  right: 25px;
  top: 20px;
}

.question-icon {
  font-size: 2em;
  color: white;
}

.tool-tip {
  height: auto;
  width: 16em;
  top: 25px;
  right: 30px;
  padding: 1em;
  position: absolute;
  color: black;
  background: white;
  border: 1px solid #686868;
  border-radius: 4px;
  z-index: 10;
}

.tool-tip span {
  font-family: "Fredoka One", cursive;
  color: #4baa89;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  font-weight: 300;
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.search-button {
  color: white;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #456ab0;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
  outline: 0;
}

.search-button:hover {
  background-color: #395993;
}

/* search page */

.search-books-bar {
  /* position: fixed; */
  width: 100%;
  margin-top: 20px;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: white;
}

.search-books-bar input {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  -webkit-appearance: none; /* add this */
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}
/* Search page datalist */

.search-datalist {
  position: absolute;
  z-index: 6;
  color: black;
  background-color: rgba(255, 255, 255, 0.938);
  border: 1px solid black;
  padding: 20px;
  margin-top: 5px;
  margin-right: 20px;
  height: 70px;
  overflow-y: scroll;
}
.datalist-term {
  display: inline-block;
  margin: 3px;
}
.datalist-term:hover {
  color: #6495ed;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #8ecdb7;
  background-image: url("./icons/books-36.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

@media (max-width: 600px) {
  .nav-title {
    margin: 0 0 0 1em;
  }

  .nav-title a h1 {
    font-size: 1.8em;
  }

  .nav-subtitle {
    font-size: 0.7em;
  }

  /* .sprout-logo {
    height: 1.8em;
    width: 1.8em;
    margin-top: 0.3em;
    margin-left: 0.3em;
  } */
  .question-icon-container {
    position: absolute;
    right: 13px;
  }
  .question-icon {
    font-size: 1.5em;
    color: white;
  }
  .search-datalist {
    margin-right: 10px;
  }
}
